In [3]:
import pandas as pd
import os

In [17]:
#Import data

ref_dgc = "/Users/rowanconverse/Library/CloudStorage/OneDrive-UniversityofNewMexico/Dissertation/1_Chapter/consensus/data/crowdsourced/20230307_zooniverseconsensuslabels.csv"
with open(ref_dgc) as f:
  ref_zoo = pd.read_csv(f)
#Add a column specifying the base image file
ref_zoo["basefile"] = [x[:-10] for x in ref_zoo['filename']]

#Directory of original filenames for expert labeled images-- currently only found 1, need to match the other 11 tomorrow
imgpath = r"/Users/rowanconverse/Library/CloudStorage/OneDrive-UniversityofNewMexico/CV4Ecology/Prototyping/Data/Imagery/USFWS/raw"
imglist = os.listdir(imgpath)
imglist = [s.strip('.JPG') for s in imglist]

#filter the refined labels to only those that match the expert list
tiled_df = ref_zoo[ref_zoo["basefile"].isin(imglist)]
print(len(tiled_df))
print(len(tiled_df["basefile"].unique()))

#complete_df = pd.read_excel('complete_spreadsheet.xlsx')

2175
12

In [18]:
tiled_df['filename'] = tiled_df['filename'].str.replace('.png', '')
tiled_df.head()

/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_9089/2048250261.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tiled_df['filename'] = tiled_df['filename'].str.replace('.png', '')
/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_9089/2048250261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tiled_df['filename'] = tiled_df['filename'].str.replace('.png', '')

,Unnamed: 0,filename,category_id,bbox,category,basefile
27970,34027,BDA_12C_20181127_1_01_05,1,"[553.5484619140625, 232.234375, 63.0, 131.0]",Crane,BDA_12C_20181127_1
27971,34029,BDA_12C_20181127_1_04_06,2,"[304.40625, 213.43751525878906, 70.96672058105...",Goose,BDA_12C_20181127_1
27972,34030,BDA_12C_20181127_1_04_06,2,"[207.2039031982422, 318.0, 81.60002899169922, ...",Goose,BDA_12C_20181127_1
27973,34031,BDA_12C_20181127_1_04_06,2,"[182.22291564941406, 356.73333740234375, 42.80...",Goose,BDA_12C_20181127_1
27974,34032,BDA_12C_20181127_1_04_06,2,"[256.5953063964844, 366.4666748046875, 60.8000...",Goose,BDA_12C_20181127_1

In [21]:
tiled_df["basefile"].unique()

array(['BDA_12C_20181127_1', 'BDA_12C_20181127_2', 'BDA_12C_20181127_3',
       'BDA_18A4_20181106_1', 'BDA_18A4_20181106_2',
       'BDA_18A4_20181106_3', 'BDA_18A4_20181106_4',
       'BDA_18A4_20181107_1', 'BDA_18A4_20181107_2',
       'BDA_18A4_20181107_3', 'BDA_18A4_20181107_4', 'mxw_L13_20181215_1'],
      dtype=object)

In [33]:
tiled_df["bbox"][27970][1]

'5'

In [34]:
# Define the size of the original image and the tile grid
original_image_width = 5472  # replace with the actual width of your original image
original_image_height = 3648  # replace with the actual height of your original image
tile_grid_width = 8
tile_grid_height = 7

# Define the size of each tile based on the original image size and the tile grid
tile_size_x = original_image_width // tile_grid_width
tile_size_y = original_image_height // tile_grid_height


# Iterate through each row of the spreadsheet
for index, row in tiled_df.iterrows():

    # Extract the tile coordinates from the tile name
    tile_name = row['filename']
    tile_x, tile_y = map(int, tile_name.split('_')[-2:])

    # Calculate the top-left x and y coordinates of the tile on the original image
    top_left_x = (tile_x - 1) * tile_size_x
    top_left_y = (tile_y - 1) * tile_size_y

    # Extract the bounding box coordinates
    bbox = row['bbox']
    bbox_x, bbox_y, bbox_width, bbox_height = map(float, bbox.strip('[]').split(','))

    # Translate the bounding box coordinates from the tile to the original image
    bbox_x += top_left_x
    bbox_y += top_left_y

    # Update the bounding box coordinates in the dataframe
    tiled_df.at[index, 'fullimgbbox'] = f'[{bbox_x}, {bbox_y}, {bbox_width}, {bbox_height}]'

/var/folders/21/q9_tvtjj53n6mfprd_174cz00000gn/T/ipykernel_9089/1073179199.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tiled_df.at[index, 'fullimgbbox'] = f'[{bbox_x}, {bbox_y}, {bbox_width}, {bbox_height}]'

In [35]:
tiled_df.head()

,Unnamed: 0,filename,category_id,bbox,category,basefile,fullimgbbox
27970,34027,BDA_12C_20181127_1_01_05,1,"[553.5484619140625, 232.234375, 63.0, 131.0]",Crane,BDA_12C_20181127_1,"[553.5484619140625, 2316.234375, 63.0, 131.0]"
27971,34029,BDA_12C_20181127_1_04_06,2,"[304.40625, 213.43751525878906, 70.96672058105...",Goose,BDA_12C_20181127_1,"[2356.40625, 2818.437515258789, 70.96672058105..."
27972,34030,BDA_12C_20181127_1_04_06,2,"[207.2039031982422, 318.0, 81.60002899169922, ...",Goose,BDA_12C_20181127_1,"[2259.203903198242, 2923.0, 81.60002899169922,..."
27973,34031,BDA_12C_20181127_1_04_06,2,"[182.22291564941406, 356.73333740234375, 42.80...",Goose,BDA_12C_20181127_1,"[2234.222915649414, 2961.7333374023438, 42.800..."
27974,34032,BDA_12C_20181127_1_04_06,2,"[256.5953063964844, 366.4666748046875, 60.8000...",Goose,BDA_12C_20181127_1,"[2308.5953063964844, 2971.4666748046875, 60.80..."

In [ ]:
# Write the updated dataframe to a new CSV file
tiled_df.to_csv('bounding_boxes_translated.csv', index=False)